.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}
.featuredItems{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    border: 1px solid;
    color: white;
    /* color: white; */
}
.featureImg{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.featuredTitles{
    position: absolute;
    bottom: 20px;
    /* color: white; */
    left: 20px;
}